<form action="/" data-quiz-form>
  {% include 'quiz-q0-name' %}
  {% include 'quiz-q1-gender' %}
  {% include 'quiz-q2-body-params' %}
  {% include 'quiz-q3-lifestyle' %}
  {% include 'quiz-q4-sport_per_week' %}
  {% include 'quiz-q4b-sport_duration' %}
  {% include 'quiz-q5-sport_type' %}
  {% include 'quiz-q6-meal_replacement_used_before' %}
  {% include 'quiz-q7-meal_replacement_why' %}
  {% include 'quiz-q8a-meal_replacement_per_day' %}
  {% include 'quiz-q8b-meals_per_day' %}
  {% include 'quiz-q9-diet_special' %}
  {% include 'quiz-q10-diet_allergy' %}
  {% include 'quiz-q11-sleep_day' %}
  {% include 'quiz-q12a-body_current' %}
  {% include 'quiz-q12b-body_goal' %}
  {% include 'quiz-q14-birthday' %}
  {% include 'quiz-q15-meal_replacement_use_day' %}
  {% include 'quiz-q16-flavour' %}
  {% comment %}
    {% include 'quiz-q17-sweetener' %}
  {% endcomment %}
  {% include 'quiz-q17-login' %}
  {% include 'quiz-q18-whey' %}
  {% include 'quiz-q19-has_breakfast' %}
  {% include 'quiz-q20-channel_first_seen' %}
  {% include 'quiz-q21-hydration' %}
  {% include 'quiz-q22-proteinshake' %}
</form>