.navi-icon-bar {
  display: none;
}

@media only screen and (max-width: 767px) {
  .navi-icon-bar {
    position: relative;
    display: block;
  }
  
  .navi-icon-bar__wrapper {
  	position: relative;
    padding: 2.5rem 3rem;
  	display: grid;
	gap: 3rem 1.5rem;
    grid-template-columns: repeat(4,1fr);
  }
  
  .navi-icon-bar__block {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .navi-icon-bar__block-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block!important;
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
    margin-bottom: 1.5rem;
  }
}